$primary-text: #3c5a5b;
$primary-background: #dde0eb;
$primary: #b8ccea;
$secondary: #739dcd;
$highlight: white;

@mixin core-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to {opacity: 1; }
}

@keyframes fade-out {
  0% {opacity: .85;}
  25% {opacity: .85;}
  100% {opacity: 0;}
}
