@import 'colors';

@keyframes fade-out {
  0% {opacity: .85;}
  25% {opacity: .85;}
  100% {opacity: 0;}
}

#stock-graph {
  max-width: 1000px;
  max-height: 500px;
  background-color: rgba(255, 255, 255, .3);
}

.hover-text {
  background-color: $primary;
  position: fixed;
  z-index: 50;
  min-width: 75px;
  min-height: 40px;
  @include core-flex;
  animation-name: fade-out;
  animation-duration: 1.5s;
}