@import 'colors';

#graph-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
}

.button {
  background-color: $primary-background;
  color: $primary-text;
  min-height: 25px;
  min-width: 45px;
  margin: 1px;
  float: left;
  @include core-flex;
  &:hover {
    background-color: $highlight;
  }
  padding: 3px 5px 3px 5px;
}

.active-button {
  @extend .button;
  background-color: $primary;
  font-weight: bold;
}

input {
  margin: 5px;
  padding: 1px;
}