@import 'colors';

.my-header {
  background-color: $primary-background;
  color: $primary-text;
  width: 100%;
  min-height: 35px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

hr {
  color: $primary-text
}